<p ng-controller="MainCtrl">
    With over 15 years experience in the IT industry <b>{{ company.name }}</b> has established itself in <b>{{ company.settled }}</b> as a Cluj premier web solutions provider. 
Just as the IT industry has grown in size and technologies, so have we. 
We appreciate the many years of business that our clients have brought us and look forward to many more.
</p>
<p>
Whether you need a new web site, or a well deserved facelift on an existing one, we are dedicated to providing 
you with web solutions that will meet your needs and exceed your expectations. 
From basic to advanced web programming, our developers have the experience and knowledge to tackle your project.
</p>